// colors
$primary-color-black: #323232;
$primary-color-silver: #afafaf;
$primary-color-white: #ffffff;
$secondary-color-black: #000000;
$secondary-color-mercury: #e1e1e1;
$secondary-color-alabaster: #fafafa;

// screen sizes
$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1140px;
