@use "./partials/mixins" as *;
@use "./partials/variables" as *;
@use "./partials/reset";
@use "./partials/typography" as *;

.header {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include tablet {
      flex-direction: row;
    }

    @include desktop {
      max-width: $desktop-breakpoint;
      margin: 0 auto;
    }
  }

  &__logo {
    max-width: 7.5rem;
    margin: 1.75rem 1rem 1rem;
    @include tablet {
      margin: 2rem 3rem;
    }

    @include desktop {
      margin: 2rem 1rem;
    }
  }
}

.navbar {
  width: 100%;
  &__list {
    display: flex;
    justify-content: center;
    padding: 0;
    width: 100%;
    @include tablet {
      justify-content: flex-start;
    }
  }

  &__item {
    list-style: none;
    width: 50%;
    text-align: center;
    padding: 1rem;
    @include tablet {
      width: auto;
      padding: 2rem 0;
      margin: 0 2rem;
    }
    &--active {
      border-bottom: 5px solid $primary-color-white;
      font-weight: 600;
    }
  }

  &__item:hover {
    border-bottom: 5px solid $primary-color-white;
  }

  &__link {
    text-decoration: none;
    color: $secondary-color-mercury;
    &--active {
      color: $primary-color-white;
    }
  }

  &__link:hover {
    color: $primary-color-white;
  }
}

.hero {
  background-image: url("/assets/Images/hero-bio.jpg");
  background-position: center;
  background-size: cover;

  &__title {
    color: $primary-color-white;
    padding: 5rem 0;
    @include page-header;
    @include tablet {
      padding: 10rem 0;
    }
    @include desktop {
      padding: 20rem 0;
    }
  }
}

.about {
  &__title {
    margin: 1.5rem 0 0;
    @include section-header;
    @include tablet {
      margin: 2.5rem 0 1rem;
    }
  }

  &__banner {
    @include tablet {
      margin: auto 5rem;
    }
  }

  &__img {
    width: 100%;
    margin: 1rem auto;
  }

  &__phrase {
    font-weight: 700;
    @include subheader;
    &--author {
      @include tablet {
        @include body-copy;
        padding: 1rem 0;
        font-weight: 600;
      }
    }
  }

  &__subtitle {
    font-weight: 600;
    @include tablet {
      @include subheader;
    }
  }

  &__description {
    @include tablet {
      display: flex;
      justify-content: space-between;
    }
  }

  &__paragraph {
    @include tablet {
      width: 47%;
    }
  }
}

.gallery {
  background-color: $secondary-color-alabaster;

  &__title {
    margin: 1.5rem 0 0;
    @include section-header;
    @include tablet {
      margin: 2.5rem 0 1rem;
    }
  }

  &__images-list {
    display: flex;
    flex-wrap: wrap;
  }

  &__img {
    width: 100%;
    margin: 0.5rem 0;
    filter: grayscale(1);
    @include tablet {
      width: 33%;
      margin: 0 auto;
      padding: 1rem;
    }
  }

  &__img:hover {
    filter: grayscale(0);
    cursor: pointer;
  }
}

.comments {
  &__title {
    margin: 0;
    padding-bottom: 1rem;
    @include section-header;
  }

  &__subcontainer {
    display: flex;
    margin-bottom: 1.5rem;
    @include tablet {
      margin: auto 5rem;
    }
    @include desktop {
      width: 50%;
      margin: 0 auto;
    }
  }

  &__display {
    margin-bottom: 1.5rem;
    @include tablet {
      margin: auto 5rem;
    }
    @include desktop {
      width: 50%;
      margin: 0 auto;
    }
  }

  &__divider {
    stroke-width: 0.0625rem;
    fill: $secondary-color-mercury;
    @include tablet {
      margin: 2rem 5rem;
    }
    @include desktop {
      width: 50%;
      margin: 2rem auto;
    }
  }

  &__img {
    width: 2.25rem;
    height: 2.255rem;
    border-radius: 50%;
    margin-right: 1rem;
    margin-top: 1.25rem;
    @include tablet {
      width: 3rem;
      height: 3rem;
    }
  }

  &__wrapper {
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
  }

  &__user-img {
    width: 9rem;
    height: 2.255rem;
    border-radius: 50%;
    margin-right: 1rem;
    background-color: $secondary-color-mercury;
    @include tablet {
      width: 8rem;
      height: 3rem;
    }
  }

  &__comment {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.25rem;
  }

  &__user,
  &__date,
  &__user-post {
    margin-top: 0;
    margin-bottom: 0;
  }

  &__user,
  &__date {
    @include subheader;
    @include tablet {
      @include body-copy;
      font-weight: 600;
    }
  }

  &__date {
    color: $primary-color-silver;
    font-weight: 300;
  }

  &__user-post {
    color: $primary-color-black;
    @include body-copy;
  }
}

.form {
  display: flex;
  flex-direction: column;
  @include tablet {
    width: 90%;
  }

  &__group {
    margin-bottom: 1rem;
  }

  &__label {
    color: $primary-color-silver;
    font-size: 0.75rem;
  }

  &__input {
    background-color: $secondary-color-alabaster;
    padding: 1rem;
    width: 100%;
    border-radius: 10px;
    border: 1px solid $secondary-color-mercury;

    &::placeholder {
      color: $primary-color-black;
      font-family: "Avenir Next LT Pro", sans-serif;
      @include labels-and-buttons;
    }
  }

  &__area {
    background-color: $secondary-color-alabaster;
    padding: 1rem;
    height: 6rem;
    width: 100%;
    border-radius: 10px;
    border: 1px solid $secondary-color-mercury;

    &::placeholder {
      color: $primary-color-black;
      font-family: "Avenir Next LT Pro", sans-serif;
      @include labels-and-buttons;
    }
  }

  &__button {
    padding: 0.5rem;
    max-width: 15rem;
    border-radius: 0.3125rem;
    border: 0;
    background-color: $primary-color-black;
    color: $primary-color-white;
    @include labels-and-buttons;
    @include tablet {
      margin-left: 22rem;
    }
  }
}

.footer {
  color: $primary-color-white;

  &__socials {
    @include tablet {
      padding: 3rem 0;
      display: flex;
      justify-content: space-between;
    }
  }

  &__icons {
    padding-bottom: 1.5rem;
    @include tablet {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 0;
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: 0;
    padding: 3rem 0 1rem;
    @include section-header;
    @include tablet {
      padding: 0;
      margin-right: 1.5rem;
    }
  }

  &__link {
    padding-right: 1rem;
    @include tablet {
      padding: 0 2rem 0 0;
    }
  }

  &__icon {
    height: 1.5rem;
  }

  &__logo {
    &--tablet {
      display: none;
      @include tablet {
        display: block;
      }
    }
  }

  &__contact {
    padding-bottom: 2rem;
    @include tablet {
      display: flex;
      padding: 0 0;
    }
  }

  &__address {
    @include tablet {
      margin-right: 1.5rem;
    }
    @include desktop {
      margin-right: 5rem;
    }
  }

  &__name {
    margin-bottom: 0;
    @include subheader;
    @include tablet {
      margin-top: 0;
      font-size: 1rem;
    }
  }

  &__company {
    margin-top: 0;
    @include subheader;
    @include tablet {
      font-size: 1rem;
    }
  }

  &__postcode {
    @include body-copy;
  }

  &__email {
    @include footer-copy;
    margin-bottom: 2rem;
    &--link {
      color: $primary-color-white;
      font-style: normal;
      text-decoration: none;
    }
  }

  &__img {
    &--mobile {
      @include tablet {
        display: none;
      }
    }
  }

  &__copyright {
    @include tablet {
      display: flex;
      padding: 0 0;
    }
  }

  &__rights {
    padding: 0.5rem 0 3rem;
    @include labels-and-buttons;
    font-weight: 400;
    @include desktop {
      @include body-copy;
    }
  }
}

.navbar__list,
.hero__title,
.about__phrase,
.footer__rights {
  margin: 0;
}

.header,
.footer {
  background-color: $primary-color-black;
}

.hero__container,
.about__container,
.gallery__container,
.shows-bg__container,
.comments__container,
.footer__container {
  padding: 1rem;
  @include tablet {
    padding: 1rem 3rem;
  }
}

.hero__container,
.about__container,
.gallery__container,
.comments__container,
.shows__container,
.shows-bg__container,
.footer__container {
  @include desktop {
    max-width: $desktop-breakpoint;
    margin: 0 auto;
    padding: 1rem;
  }
}

.form__label,
.show__label,
.shows__label {
  color: $primary-color-silver;
  @include labels-and-buttons;
}

.hero__overlay,
.shows-bg__overlay {
  background: $primary-color-black-opacity;
}
