@use "./partials/mixins" as *;
@use "./partials/variables" as *;
@use "./partials/reset";
@use "./partials/typography" as *;

.shows-bg {
  background-image: url("/assets/images/hero-shows.jpg");

  &__album {
    color: $primary-color-white;
    margin: 0;
  }

  &__title {
    color: $primary-color-white;
    width: 80%;
    margin: 0;
  }

  &__artist {
    border: 2px solid green;
  }
}
