@use "./partials/mixins" as *;
@use "./partials/variables" as *;
@use "./partials/reset";
@use "./partials/typography" as *;

.shows-bg {
  background-image: url("/assets/images/hero-shows.jpg");

  &__container {
    @include tablet {
      padding: 1rem 3rem;
    }
    @include desktop {
      padding: 15rem 1rem;
    }
  }

  &__album {
    color: $primary-color-white;
    margin: 0;
    @include subheader;
    padding: 0.5rem 0;
    font-weight: 400;
    @include tablet {
      font-size: 1.75rem;
    }
  }

  &__artist {
    margin-bottom: 1.25rem;
    @include tablet {
      width: 80%;
      margin-bottom: 2.5rem;
    }
    @include desktop {
      width: 100%;
      display: flex;
    }
  }

  &__title {
    color: $primary-color-white;
    width: 80%;
    margin: 0;
    padding: 1rem 0;
    line-height: 1.5;
    @include tablet {
      @include page-header;
      width: 100%;
      padding: 2rem 0 3rem;
    }
    @include desktop {
      padding: 0 3rem 0 0;
      line-height: 1.3;
    }
  }

  &__player {
    @include tablet {
      width: 50%;
    }
    @include desktop {
      width: 40%;
    }
  }
}

.shows__label--left {
  margin-left: 4rem;
}
.shows__label--right {
  margin-right: 15rem;
}

.shows {
  @include tablet {
    padding: 0;
    padding-bottom: 1.5rem;
  }

  &__container {
    @include tablet {
      padding: 1rem 3rem;
    }

    @include desktop {
      display: flex;
      padding: 2rem 1rem 1rem;
    }
  }

  &__heading {
    padding: 0 1rem;
    margin-bottom: 0;
    @include page-header;
    @include tablet {
      padding: 0 1rem;
      @include subheader;
    }

    @include desktop {
      @include page-header;
      margin-top: 0;
      margin-bottom: 0;
      margin-right: 7.5rem;
    }
  }

  &__wrap {
    @include desktop {
      width: 100%;
    }
  }

  &__labels {
    display: none;
    @include tablet {
      padding: 0 1rem;
      display: flex;
      justify-content: space-between;
    }
    @include desktop {
      padding-top: 1rem;
    }
  }

  &__label {
    @include labels-and-buttons;
    @include desktop {
      margin-bottom: 0;
    }
  }
}

.show {
  &__selected {
    // background-color: $secondary-color-mercury;
    background-color: green;
    color: red;
  }

  padding-top: 1rem;
  padding-bottom: 1.5rem;
  border-bottom: 0.0625rem solid $secondary-color-mercury;
  @include tablet {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  @include desktop {
    padding: 1rem;
  }

  &__label {
    padding: 0 1rem;
    @include tablet {
      padding: 0;
      display: none;
    }
  }
  &__date,
  &__venue,
  &__location {
    padding: 0 1rem;
    @include subheader;
    @include tablet {
      padding: 0;
      font-size: 1.125rem;
      margin: 0;
    }
  }

  &__venue,
  &__location {
    font-weight: 300;
  }

  &__button {
    width: 90%;
    margin: 0 1rem;
    padding: 0.5rem;
    border-radius: 5px;
    color: $primary-color-white;
    background-color: $primary-color-black;
    cursor: pointer;
    @include labels-and-buttons;
    @include tablet {
      margin: 0;
      width: auto;
      padding: 0.5rem 1.5rem;
    }
  }

  &__button:hover {
    background-color: $secondary-color-black;
  }
}

.show:hover {
  cursor: pointer;
  background-color: $secondary-color-alabaster;
}

// .show:active {
//   background-color: $secondary-color-mercury;
// }
