*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

@font-face {
  font-family: "Avenir Next LT Pro";
  src: url("/assets/Font/AvenirNextLTPro-Regular.otf") format("opentype"), url("/assets/Font/Alternative files/AvenirNextLTPro-Regular") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir Next LT Pro";
  src: url("/assets/Font/AvenirNextLTPro-Demi.otf") format("opentype"), url("/assets/Font/Alternative files/AvenirNextLTPro-Demi") format("opentype");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir Next LT Pro";
  src: url("/assets/Font/AvenirNextLTPro-Bold.otf") format("opentype"), url("/assets/Font/Alternative files/AvenirNextLTPro-Bold") format("opentype");
  font-weight: 700;
}
body {
  font-family: "Avenir Next LT Pro", sans-serif;
}

.header {
  background-color: #323232;
}
.header__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .header__container {
    flex-direction: row;
  }
}
@media screen and (min-width: 1140px) {
  .header__container {
    max-width: 1140px;
    margin: 0 auto;
  }
}
.header__logo {
  max-width: 7.5rem;
  margin: 1.75rem 1rem 1rem;
}
@media screen and (min-width: 768px) {
  .header__logo {
    margin: 2rem;
  }
}

.navbar {
  width: 100%;
}
.navbar__list {
  display: flex;
  justify-content: center;
  padding: 0;
  width: 100%;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .navbar__list {
    justify-content: flex-start;
  }
}
.navbar__item {
  list-style: none;
  width: 50%;
  text-align: center;
  padding: 1rem;
}
@media screen and (min-width: 768px) {
  .navbar__item {
    width: auto;
    padding: 2rem 0;
    margin: 0 2rem;
  }
}
.navbar__item--active {
  border-bottom: 5px solid #ffffff;
  font-weight: 600;
}
.navbar__link {
  text-decoration: none;
  color: white;
}

.hero-section {
  background-image: url("/assets/Images/hero-bio.jpg");
  background-position: center;
  background-size: cover;
}

.hero-container-overlay {
  background: rgba(50, 50, 50, 0.5);
}

.hero-container__title {
  color: #ffffff;
  margin: 0;
  padding: 5rem 1rem;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .hero-container__title {
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
}
@media screen and (min-width: 768px) {
  .hero-container__title {
    padding: 10rem 2rem;
  }
}
@media screen and (min-width: 1140px) {
  .hero-container__title {
    padding: 20rem 2rem;
  }
}

.about-container {
  padding: 0 1rem;
}
.about-container__title {
  margin: 1.5rem 0 0;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .about-container__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}
@media screen and (min-width: 768px) {
  .about-container__title {
    margin: 2.5rem 2rem 1rem;
  }
}
.about-container__img {
  width: 100%;
  margin: 1rem auto;
}
.about-container__phrase {
  margin: 0;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .about-container__phrase {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
@media screen and (min-width: 768px) {
  .about-container__phrase--author {
    font-size: 0.8125rem;
    line-height: 1.125rem;
    font-weight: 400;
    padding: 1rem 0;
  }
}
@media screen and (min-width: 768px) and (min-width: 768px) {
  .about-container__phrase--author {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
.about-container__subtitle {
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .about-container__subtitle {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 600;
  }
}
@media screen and (min-width: 768px) and (min-width: 768px) {
  .about-container__subtitle {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
@media screen and (min-width: 768px) {
  .about-container__description {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  .about-container__paragraph {
    width: 47%;
  }
}

@media screen and (min-width: 768px) {
  .about-container-inner {
    margin: auto 5rem;
  }
}

@media screen and (min-width: 1140px) {
  .hero-container,
  .about-container {
    max-width: 1140px;
    margin: 0 auto;
  }
}/*# sourceMappingURL=styles.css.map */